.form-group purple-border {
  border: 0.5px solid black;
  }
  
.card card-body {
  top: 122px;
}

.blanko {
  background: #f4f4ff;
  border-radius: 4px;
  padding: 20px;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  transition: all 0.2s;
  word-break: normal;
  margin: 20px auto;
  width: 600px;
  -webkit-box-shadow: 4px 6px 5px 0px rgba(212,212,212,1);
  -moz-box-shadow: 4px 6px 5px 0px rgba(212,212,212,1);
  box-shadow: 4px 6px 5px 0px rgba(212,212,212,1);
  }

.blanko > span {
  padding: 3px;
  display: inline-block;
}
  
.ghostly {
  color: #eee !important;
  background: #eee;
  border-bottom: 1px solid #999;
}

.hover-candidate {
  color: #003;
  background: #e9e9f9;
}

.carousel-indicators li {
  visibility: hidden;
}