#messageBox {
  height: 500px;
  min-height: 250px;
  max-height: 450px;
  text-align: left;
  overflow: auto;
}

#smallerHeader {
  margin-top: 0;
}

.panel-footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.quizTextArea {
  display: flex;
}

.messages > div {
  font-size: 16px;
}

.revealed {
  color: #e0377b;
}