.App {
  text-align: left;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-item {
  display: inline-block;
  margin: 30px;
}

.stacks-collection {
  display: inline-block;
  margin: 30px;
}

.submit-button {
  display: inline-block;
}

.purple-border textarea {
  border: 1px solid #ba68c8;
}
.purple-border .form-control:focus {
  border: 1px solid #ba68c8;
  box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.green-border-focus .form-control:focus {
  border: 1px solid #8bc34a;
  box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

body {
  margin: 20px;
}
